h1 {
	font-weight: $bold;
}

.container {
	background-image: $gradient;
	padding: 2em;
	border-radius: 15px;
	max-width: $mobile-max-width;
	line-height: $line-height;
	height: max-content;
}

p {
	color: $light-grey;
}

// form card
.card-btns {
	@include flex-center();
}

.submit-btn {
	border: none;
	background-color: $orange;
	padding: 20px;
	width: 100%;
	border-radius: 50px;
	color: $white;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 3px;
}

//thankyou card
