//base card styles
h1 {
	font-weight: $bold;
}

.container {
	background-image: $gradient;
	padding: 2em;
	border-radius: 15px;
	max-width: $mobile-max-width;
	
	height: max-content;
}

p {
	color: $light-grey;
	font-size: 1.15em;
	line-height: $line-height;
}

// form card
.card-btns {
	@include flex-center();
	justify-content: space-between;
}

.submit-btn {
	border: none;
	background-color: $orange;
	padding: 20px;
	width: 100%;
	border-radius: 50px;
	color: $white;
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: 3px;
	cursor: pointer;
}

.round {
	background-color: $dark-blue;
	padding: 15px;
	margin-bottom: 2em;
	width: 20px;
	height: 20px;
	@include flex-center();
	border-radius: 100px;
	vertical-align: middle;
	color: $light-grey;
}

.rating-btn:hover {
	background: #979797;
	color: $white;
}

.selected {
	background-color: $orange; 
	color: $white;
}

//thankyou card
.hide {
	display: none;
}

#rating-thankyou .card-top,
.card-bottom {
	text-align: center;
}

#user-rating {
	background-color: $dark-blue;
	color: $orange;
	width: max-content;
	margin: 20px auto;
	padding: 10px 15px;
	border-radius: 30px;
}
