// Layout
$mobile-max-width: 375px;
$desktop-max-width: 1440px;

// Colors
// Primary
$orange: hsl(25, 97%, 53%);
$orangeHover: hsl(25, 89%, 68%);

// Neutral
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$med-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$dark-blue-grad-top: hsla(213, 19%, 18%, 0.6);
$dark-blue-grad-bottom: hsla(213, 19%, 18%, 0.4);
$v-dark-blue: hsl(216, 12%, 8%);

//Gradient
$gradient: linear-gradient($dark-blue-grad-top, $dark-blue-grad-bottom);

//Typeography
// Body Copy
$main-copy: 16px;
$line-height: 1.5rem;

// Font
$overpass: 'Overpass', sans-serif;
// Font Weight
$bold: 700;
