/* file import */
@import 'variables';
@import 'mixins';
@import 'card';

body {
	background-color: $v-dark-blue;
	height: 100vh;
	color: $white;
	font-family: $overpass;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	padding: 1rem;
	min-height: 100vh;
	@include flex-center();
	flex-direction: column;
}

.attribution {
	display: none;
}
